<app-documentation [componentName]="componentName" [module]="module" [codeTitle]="'popover.html'">
  <gctr-popover icon="done" iconFont="material-outlined" label="Show on hover" text="Popover text" triggerOn="hover"></gctr-popover>
  <span class="margin-left-std"></span>
  <gctr-popover icon="done" iconFont="material-outlined" label="Show on click" text="Popover <a href=''>text</a>" triggerOn="click"></gctr-popover>
  <span class="margin-left-std"></span>
  <gctr-popover icon="help_outline" iconFont="material-outlined" text="Popover text"></gctr-popover>
</app-documentation>
