<app-documentation [componentName]="componentName" [module]="module" [codeTitle]="'action-button.html'">  
    <p>Standard button boxes with actions.</p>
    <div class="flex-justify-align-center">
        <gctr-action-button label="Selection Box Name" size="small" icon="alternate_email" class="margin-16"></gctr-action-button>
        <gctr-action-button label="Selection Box Name" size="small" icon="person" class="margin-16"></gctr-action-button>
        <gctr-action-button label="Selection Box Name" size="small" icon="cloud_download" class="margin-16"></gctr-action-button>
    </div>
    <div class="flex-justify-align-center margin-top-32">
        <gctr-action-button label="Selection Box Name" icon="alternate_email" class="margin-16"></gctr-action-button>
        <gctr-action-button label="Selection Box Name" icon="person" class="margin-16"></gctr-action-button>
        <gctr-action-button label="Selection Box Name" icon="cloud_download" class="margin-16"></gctr-action-button>
    </div>
</app-documentation>

